body {
    color: #fff;
    background-color: #171616;
    background-image: url(../img/sabores-background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Helvetica Neue', sans-serif;
}

#section {
    margin-bottom: 45px;
    text-align: center;
}

#section h2 {
    color: #ff334e;
    text-shadow: 2px 2px 5px #000;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    margin-top: 100px;
    line-height: 6;
}

#section table {
    background-color: #171616;
    width: 80%;
    margin: 0 auto;
}

#section th {
    font-weight: bold;
}

#section td,
#section th {
    padding: 20px 25px;
    border: 1px solid #000;
    text-align: center;
    text-transform: uppercase;
}

#section .texto-positivo {
    color: #2883bf;
    text-transform: capitalize;
}

#section .texto-negativo {
    color: #ff334e;
    text-transform: capitalize;
}

#section div {
    margin-top: 50px;

}

#section a {
    color: #ff334e;
    background-color: #171616; 
    text-shadow: 2px 2px 10px #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid #ff334e;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #000;
    padding: 15px 80px;
}

#section a:hover {
    box-shadow: 0px 0px 10px #ff334e;
    text-shadow: 2px 2px 10px #ff334e;
    background-color: #000; 
}
